/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:40540f1d39c629865a09a7113a48d365:055a7953885241bbc0d794c68e6db669:e3ae77489b272506a6a3dc485976a32b$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(corporal_l.png);}

.corporal_walk_l_0 {width:160px; height:120px; background-position: -0px -0px}
.corporal_walk_l_1 {width:160px; height:120px; background-position: -160px -0px}
.corporal_walk_l_2 {width:160px; height:120px; background-position: -320px -0px}
.corporal_walk_l_3 {width:160px; height:120px; background-position: -480px -0px}
.corporal_walk_l_4 {width:160px; height:120px; background-position: -640px -0px}
.corporal_walk_l_5 {width:160px; height:120px; background-position: -800px -0px}
.corporal_walk_l_6 {width:160px; height:120px; background-position: -960px -0px}
.corporal_walk_l_7 {width:160px; height:120px; background-position: -1120px -0px}
