/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:08a2730f448490a538d1a840c25f310f:c56b869bcd835b6164c4eea65c89dbf6:9199c0fc88c20e30e9b97b5df31abf81$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(drop.png);}

.alien_0_drop_0 {width:200px; height:100px; background-position: -0px -0px}
.alien_0_drop_1 {width:200px; height:100px; background-position: -200px -0px}
.alien_0_drop_2 {width:200px; height:100px; background-position: -400px -0px}
.alien_0_drop_3 {width:200px; height:100px; background-position: -600px -0px}
